body {
  background-color: #02012c;
  font-family: "Dm-Sans";
}

@font-face {
  font-family: "Dm-Sans";
  src: url("./../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Bricolage-Grotesque";
  src: url("./../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}
